@model Vidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "GetAllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Movies</h2>
    @Html.ActionLink("Add New Movie", "New", "Movies", null, new {@class = "btn btn-primary"})
</div>
<div>
    @if (Model.Movies.Count == 0)
    {
        <text>No Movie Exist</text>
    }
    else
    {
        <table class="table table-striped table-hover ">
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { movieId = movie.Id }, null)</td>
                    <td>@movie.Genre</td>
                </tr>
            }
        </table>
    }
</div>

